﻿body 
{
    margin:0px;
	border:none;
	
}

body img{
	border:0px;
	}

#container
{
    width:100%;
    min-height:700px;
    max-height:5000px;
    background:url(../imagens/body-background.gif) #000 no-repeat center top;
    
}

.topo
{
   
    height:39px;
    
    }
    
.alinhatopo
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    height:39px;
    }
	
.suites img
{
	border:15px #FFF solid;
}

.suitesBtDetalhes img
{
	border:none;
}
    
.menutopo
{
    margin-left:580px;
    position:absolute;
    padding-top:10px;
    }   
    
.menutopoesc
{
    float:left;
    margin-left:20px;
    }     
    
.menutopoesc a, .menutopoesc a:active, .menutopoesc a:visited
{
    color:#ffffff;
    text-decoration:none;
    font-family:Arial;
    font-size:14px;
    }  
    
.menutopoesc a:hover
{
    color:#C393E3;
    } 
    
.menu
{
    background-image: url('../imagens/bg_menu.jpg');   
    height:77px;
    }   
    
.alinhamenu
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    height:77px;
    }     
    
.logo
{
    position:absolute;
    padding-top:6px;
    }    
    
.menuesc
{
    margin-left:495px;
    position:absolute;
    margin-top:30px;
    
    }    
    
#funcionamento
{
    width:120px;
    background-position:-7px 0px;   
    
}



#suites
{
    width:64px;    
    background-position:-131px 0px;
}

#precos
{
    width:67px;    
    background-position:-208px 0px;
}

#promocoes
{
    width:96px;    
    height:30px;
    background-position:-291px 0px;
}

#parceiros
{
    width:82px;    
    background-position:-402px 0px;
}




#funcionamento:hover
{
   
   
    background-position:-7px -30px;
    height:50px;
    
    
}



#suites:hover
{
   
    background-position:-131px -30px;
    height:50px;
}

#precos:hover
{
    background-position:-208px -30px;
    height:50px;
}

#promocoes:hover
{
       
    background-position:-291px -30px;
    height:50px;
}

#parceiros:hover
{
       
    background-position:-402px -30px;
     height:50px;
}







    
.menuescdet
{
    float:left;
    margin-left:22px;
    }  
    
.menuescdet a, .menuescdet a:active, .menuescdet a:visited
{
    color:#ffffff;
    text-decoration:none;
    font-family:Arial;
    font-size:16px;
    float:left;
    text-indent:-999999px;
    background:url(../imagens/menu.png) no-repeat;
    height:23px;
    }  
    
  
.conteudo
{
    width:1130px;
    min-height:500px;
    max-height:5000px;
    margin:0px auto;   
    overflow:hidden;
}   

#banner
{
    position:relative;
    z-index:2;
    width:1130px;
    height:454px;
}

#content
{
    position:relative;
    z-index:10;
    width:1130px;
    min-height:500px;
    max-height:1020px;
    margin-top:-115px;
    background:url(../imagens/conteudo.png) no-repeat left top;
    overflow:hidden;
}
    

    
.conteudointernas
{
    width:1130px;
    min-height:601px;
    margin:0px auto;
    }   
    

    
.internas
{
    background-image: url('../imagens/bg_internas.jpg');
    width:1130px;
    min-height:601px;
    overflow:hidden; 
    padding-bottom:40px; 
    max-height:2000px;
    padding-top:1px;
    }        
    
.titleinternas
{
    margin-top:53px;
    margin-left: 70px;
    width: 250px;
    height: 66px;

    }    
 
.titleinternasSegundo
{
    margin-top:53px;
    width:485px;
    float: left;
	display:none;
    }     
   
.homesuites
{
    
    margin-left:70px;
    width:333px;
    float:left;
    height:353px;
    } 
 
.conhecasuites
{
    margin-left:15px;
    } 
    
.imgsuites
{
    margin-top:15px;
    }           
    
.setasuites img
{
    float:left;
    margin-left:1px;
    display:none;
    }    
    
.setasuites
{
    margin-left:275px;
    
    }    
    
.tarjasuites
{
    
    background-image:url('../imagens/tarjasuites.jpg');  
    background-repeat:no-repeat;
    height:43px;
    width:333px;
    padding-top:18px;
    padding-left:15px;
    font-family:Arial;
    font-size:20px;
    color:#fff;
    }    
    
.tarjasuites img
{
    margin-left:110px;
    margin-top:5px;
    } 
    
.homereservas
{
    margin-top:160px;
    float:left;
    margin-left:57px;
    width:194px;
    height:85px;
    }       
    
.homereservasemail a, .homereservasemail a:active, .homereservasemail a:visited, .homereservasemail a:hover
{
    text-decoration:none;
    font-family:Arial;
    font-size:18px;
    color:#D6A2F8;
   
    padding-top:5px;
    }
    
.homelocalizacao
{
    margin-top:105px;
    margin-left:110px;
    width:333px;
    height:159px;
    float:left;
    } 

.tarjalocalizacaohome
{
    position:absolute;
    background-image:url('../imagens/tarjalocalizacao.jpg');  
    background-repeat:no-repeat;
    height:40px;
    width:278px;
    padding-top:12px;
    padding-left:140px;
    }   
    
.imglocalizacaohome
{
    margin-top:13px;
    }      
    
.homepromocoes
{
    margin-top:40px;
    margin-left:63px;
    width:985px;
    height:285px;
    float:left;
    }  
 
.homepromocoes img
{
    margin-left:3px;
    } 
    
.titlehomepromocoes
{
    margin-left:400px;
    }     
    
.bannerhomepromocoes img
{
    margin-top:30px;
    float:left;
    }   
    
.setahomepromocoes
{
    margin-left:900px;
    display:none;
    }     

.setahomepromocoes img
{
    float:left;
    margin-left:2px;
    margin-top:7px;
    }   
    
.rodape
{
   background:url(../imagens/bg-rodape.png) no-repeat left top;
    height:244px;
    width:1130px;
    margin:0px auto;
    }   
    
.alinharodape
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    height:244px;
    }     
    
.logorodape
{
    margin-left:20px;
    margin-top:30px;
    position:absolute;
    }
     
.endrodape
{
    margin-left:300px;
    margin-top:50px;
    position:absolute;
    font-family:Arial;
    color:#fff;
    font-size:14px;
    }
        
.emailrodape a, .emailrodape a:active, .emailrodape a:visited, .emailrodape a:hover
{
    color:#D6A2F8;
    }      

.emailrodape
{
    margin-left:300px;
    margin-top:80px;
    position:absolute;
    }    
    
.telrodape
{
    margin-left:800px;
    margin-top:50px;
    position:absolute;
    font-family:Arial;
    font-size:25px;
    color:#fff;
    }    
    

.whats{
    float: left;
    margin-top: 77px;
    margin-left: 490px;
}    

.whats img,.whats p{
    float: left;
}

.whats p{
    margin: 0px 10px;
    float: left;
    font-size: 21px;
    font-family: arial;
    color: #ffffff;
}

.redessociais
{
   margin-left: 820px;
margin-top: 83px;
position: absolute;
font-family: Arial;
font-size: 14px;
text-align: right;
    }   
    
.bark
{
    margin-left:910px;
    margin-top:187px;
    position:absolute;
    }       
         
         
.funcionamentoReservas
{
    margin-top:50px;
    margin-left:60px;
    float:left;
    }         
    
.funcionamentoInformacoes
{
    margin-top:50px;
    margin-left:400px;
    }    
    
.funcionamentoServicoBar
{
    margin-top:30px;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    }    
    
.funcionamentoServicoLanchonete    
{
    margin-top:30px;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    } 
    
.funcionamentoPernoite    
{
    margin-top:30px;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    } 
    
.funcionamentoDiaria    
{
    margin-top:30px;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    }     
    
.funcionamentoCartoes    
{
    margin-top:30px;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    }      
    
.festivalConfira
{
    margin-left:70px;
    margin-top:50px;
    }
    
.festivalConfira img 
{
    float:left;
    }        
    
.festivalConfiraDesc
{
    margin-left:360px;
    padding-top:50px;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    }   
    
.festivalBarra
{
    padding-top:100px;
    }
    
.parceirosConfira
{
    margin-left:70px;
    margin-top:50px;
    }
    
.parceirosConfira img 
{
    float:left;
    }        
    
.parceirosConfiraDesc
{
    margin-left:360px;
    padding-top:40px;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    }   

.parceirosConfiraDesc a, .parceirosConfiraDesc a:active, .parceirosConfiraDesc a:visited, .parceirosConfiraDesc a:hover
{
    color:#D7A2F8;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    }
    
.parceirosConfiraDescTitle    
{
    color:#D7A2F8;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    }   
    
.parceirosBarra
{
    padding-top:100px;
    }       
    
.suitesParis
{
    margin-top:50px;
    margin-left:68px;
    width:334px;
    float:left;
    }    
  
.suitesPigalle
{
    margin-top:50px;
    margin-left:10px;
    width:334px;
    float:left;
    }   
    
.suitesLamour
{
    margin-top:50px;
    margin-left:10px;
    width:334px;
    float:left;
    }         
    
.suitesTitle
{
    font-family:Arial;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    margin-left:130px;
    margin-bottom:20px;
    }           
    
.suitesBtDetalhes
{
    margin-left:186px;
    }    
    
.precosDomingoQuinta
{
    background-image: url('../imagens/precosDomingoQuinta.png');   
    background-repeat:no-repeat;
    width:634px;
    height:309px;
    margin-top:50px;
    margin-left:60px;
    }    
    
.precosSextaSabado
{
    background-image: url('../imagens/precosSextaSabado.png');   
    background-repeat:no-repeat;
    width:634px;
    height:309px;
    margin-top:50px;
    margin-left:60px;
    }    
    
.precosColunaPrimeira
{
    float:left;
    font-family:Arial;
    font-size:15px;
    color:#B36EDF;
    font-weight:bold;
    margin-top:55px;
    margin-left:10px;
    }
    
.precosColunaPrimeiraDetLin
{
    color:#fff;
    }    

.precosColunaPrimeiraDet
{
    margin-top:19px;
    }
    
.precosColunaSegunda
{
    float:left;
    font-family:Arial;
    font-size:15px;
    color:#B36EDF;
    font-weight:bold;
    margin-top:55px;
    margin-left:100px;
    }

.precosColunaSegundaDetLin
{
    color:#fff;
    }

.precosColunaSegundaDet
{
    margin-top:19px;
    }    
    
    
.precosColunaTerceira
{
    float:left;
    font-family:Arial;
    font-size:15px;
    color:#B36EDF;
    font-weight:bold;
    margin-top:55px;
    margin-left:50px;
    }

.precosColunaTerceiraDetLin
{
    color:#fff;
    }

.precosColunaTerceiraDet
{
    margin-top:19px;
    }      
    
.precosColunaQuarta 
{
    float:left;
    font-family:Arial;
    font-size:15px;
    color:#B36EDF;
    font-weight:bold;
    margin-top:55px;
    margin-left:50px;
    }

.precosColunaQuartaDetLin
{
    color:#fff;
    }

.precosColunaQuartaDet
{
    margin-top:19px;
    }   
    
.promocoes
{
    margin-top:55px;
    margin-left:70px;
    }    
    
.promocoesImagem
{
    float:left;
    }    
    
.promocoesDesc
{
    color:#fff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    margin-left:30px;   
    float:left;
    }    

.promocoesCadastro
{
    margin-left:648px; 
    }
    
.promocoesCadastroExp
{
    color:#fff;
    font-family:Arial;
    font-size:14px;
    }   
    
.promocoesCadastroExp a, .promocoesCadastroExp a:active, .promocoesCadastroExp a:visited, .promocoesCadastroExp a:hover
{
    color:#D6A2F8;
    text-decoration:none;
    font-family:Arial;
    font-size:14px;
    }      
    
.promocoesSeuEmail
{
    margin-top:15px;
    }    
    
.promocaoCupom
{
    margin-top:15px;
    }    
    
.barraPromocoes
{
    width:976px;
    height:1px;
    }    
    
.trabalhe
{
    margin-left:80px;
    margin-top:50px;
    }    
    
.trabalheTextoDesc
{
    width:239px;
    font-family:Arial;
    font-size:14px;
    color:#fff;
    float:left;
    }    
    
.trabalheFormulario
{
    margin-left:350px;
    }    
   
.trabalheNome
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }   
  
.trabalheEmail
{
    background-image: url('../imagens/trabalheEmail.jpg'); 
    background-repeat:no-repeat;
    width:260px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }     
    
.trabalheTelefone
{
    background-image: url('../imagens/trabalheTelefone.jpg'); 
    background-repeat:no-repeat;
    width:125px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }    
    
.trabalheCurriculo
{
    background-image: url('../imagens/trabalheCurriculo.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    float:left;
    }       
    
.trabalheFormularioInfo
{
    margin-top:10px;
    margin-bottom:08px;
    }    
    
.trabalheMensagem    
{
    background-image: url('../imagens/trabalheMsg.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:100px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    float:left;
    }  
    
.contatoFundoMapa
{
    background-image: url('../imagens/fundoMapa.jpg'); 
    width:135px;
    height:25px;
    padding-left:145px;
    padding-top:20px;
    position:absolute;
    }    
    
.contatoMapa
{
    margin-top:15px;
    }  
    
.contatoEnd
{
    font-family:Arial;
    font-size:16px;
    color:#fff;
    }      
    
.contatoTel
{
    font-family:Arial;
    font-size:20px;
    color:#fff;
    }  
    
.cadastro
{
    width:278px;
    font-family:Arial;
    font-size:14px;
    color:#fff;
    float:left;
    }      
    
.cadastroNome
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    } 
    
.cadastroEmail
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:265px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }       
    
.cadastroNascimento
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:133px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }    
    
.cadastroRg
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:122px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }    
    
.cadastroCpf
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:122px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }   
    
.cadastroCep
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:108px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }     
    
.cadastroEndereco
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }    
    
.cadastroN
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:70px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;  
    }    
 
.cadastroComplemento
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:70px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }  
    
.cadastroBairro
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;
    }    
    
.cadastroCidade
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:300px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;  
    }       
    
.cadastroConheceCharms
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:70px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;  
    } 
    
.cadastroSenha
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:143px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;  
    }      
    
.cadastroCSenha
{
    background-image: url('../imagens/trabalheNome.jpg'); 
    background-repeat:no-repeat;
    width:143px;
    height:20px;
    border:0px;
    padding-left:5px;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    color:#200830;  
    }        
    
.linksMenu
{
    margin-left:70px;
    margin-top:50px;
    width:300px;
    float:left;
    }   
      
    
.linksDet
{
    width:500px;
    
    margin-top:50px;
    float:left;
    }    
    
.detalhesTitle
{
    margin-top:20px;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    color:#fff;  
    }    
    
.detalhesLinks
{
    margin-top:05px;
    font-family:Arial;
    font-size:13px;
    color:#fff; 
    }  
    
.detalhesSiteLinks a, .detalhesSiteLinks a:active, .detalhesSiteLinks a:visited, .detalhesSiteLinks a:hover
{
    margin-top:05px;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    color:#D7A1F8; 
    }      
    
.barraLinks
{
    background-image: url('../imagens/barraLinks.jpg'); 
    margin-top:15px;
    width:514px;
    height:1px;
    }    
    
.linksMenuCasasNoturnas a, .linksMenuCasasNoturnas a:active, .linksMenuCasasNoturnas a:visited
{
    text-decoration:none;
    color:#D6A2F8;
    font-family:Arial;
    font-size:18px;
    }  
 
.linksMenuCasasNoturnas a:hover
{
    text-decoration:none;
    color:#fff;
    font-family:Arial;
    font-size:18px;
    }
 
 .linksMenuCasasNoturnas
{
    background-image: url('../imagens/btnMenu2.jpg');
    background-repeat:no-repeat;
    width:278px;
    height:31px;
    padding-top:3px;
    padding-left:15px;
    }  
    
.linksMenuBaresRestaurantes
{
    background-image: url('../imagens/btnMenu2.jpg');
    background-repeat:no-repeat;
    width:278px;
    height:31px;
    padding-top:3px;
    padding-left:15px;
    }    
    
.linksMenuBaresRestaurantes a, .linksMenuBaresRestaurantes a:active, .linksMenuBaresRestaurantes a:visited
{
    text-decoration:none;
    color:#D6A2F8;
    font-family:Arial;
    font-size:18px;
    }  
 
.linksMenuBaresRestaurantes a:hover
{
    text-decoration:none;
    color:#fff;
    font-family:Arial;
    font-size:18px;
    }    
    
.linksMenuPontosTuristicos
{
    background-image: url('../imagens/btnMenu2.jpg');
    background-repeat:no-repeat;
    width:278px;
    height:31px;
    padding-top:3px;
    padding-left:15px;
    }    
    
.linksMenuPontosTuristicos a, .linksMenuPontosTuristicos a:active, .linksMenuPontosTuristicos a:visited
{
    text-decoration:none;
    color:#D6A2F8;
    font-family:Arial;
    font-size:18px;
    }  
 
.linksMenuPontosTuristicos a:hover
{
    text-decoration:none;
    color:#fff;
    font-family:Arial;
    font-size:18px;
    }       
    
.suitesDet
{
    margin-top:50px;
    margin-left:70px;
    }     
    
.suitesDetImg
{
    float:left;
    }    
    
	
.suitesDetImg img
{
	border:13px #FFF solid;
}

.suitesDetTitle
{
    margin-left:15px;
    float:left;
    width:410px;
    }    
    
.suitesDetDesc
{
    margin-left:15px;
    margin-top:15px;
    color:#fff;
    font-family:Arial;
    font-size:16px;
    float:left;
    width:304px;
    }    
    
.suitesDetTour
{
    margin-left:15px;
    margin-top:15px;
    float:left;
    width:410px;
    }    
    
.suitesDetCurtir
{
    margin-left:15px;
    margin-top:15px;
    float:left;
    width:410px;
    }    
    
.suitesDetReservas
{
    float:right;
    margin-top:-130px;
    margin-right:30px;
    }    
    
.suitesDetFotos
{
    float:left;
    margin-top:20px;
    }    
    
.suitesDetFotosTitle
{
    margin-left:70px;
    margin-bottom:20px;
    }    
    
.fotos
{
    margin-left:70px;
    margin-top:20px;
    margin-bottom:15px;
    }    
    
.imgfotos
{
    margin-right:15px;
    }   
	
.imgfotos img
{
	border:8px #FFF solid;
}
    
.suitesDetPrecos
{
    margin-left:70px;
    margin-top:30px;
    }     
    
.suitesDetPernoite
{
    width:200px;
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#fff;
    }    

.suitesDetValor
{
    width:280px;
    float:left;
    margin-left:90px;
    font-family:Arial;
    font-size:13px;
    color:#fff;
    }
    
.suitesDetPeriodo
{
    width:190px;
    float:left;
    margin-left:90px;
    font-family:Arial;
    font-size:13px;
    color:#fff;
    }    
    
.suitesDetPernoiteDesc
{
    margin-top:10px;
    }  
    
.suitesDetPrecosDesc
{
    margin-top:10px;
    }  
    
.suitesDetPeriodoDesc
{
    margin-top:10px;
    }            
    
   #links
   {
       margin-top:20px;
       height:310px;
   }
   
   #mapa
   {
       position:absolute;
       top:250px;
       width:1020px;
       left:50%;
       margin-left:-500px;
       height:425px;
       z-index:700;
       background:#000;
       display:none;
      text-align:center;
   }
   
   #mapa a
   {
       color:#FFFFFF !important;
       font-weight:bold;
       font-size:15px;
       text-decoration:none;
   }