﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="default.aspx.cs" Inherits="_default" %>
<%@ Register src="usrTopo.ascx" tagname="usrTopo" tagprefix="uc1" %>

<%@ Register src="usrMenu.ascx" tagname="usrMenu" tagprefix="uc2" %>
<%@ Register src="usrRodape.ascx" tagname="usrRodape" tagprefix="uc3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Luver Hotel - Reservas (11) 3262-3375</title>
    <link href="css/estilo.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
                    
        })
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="container">
    <uc1:usrTopo ID="usrTopo1" runat="server" />
    <uc2:usrMenu ID="usrMenu1" runat="server" />
    <div id="mapa">
        <iframe width="1000" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Frei+Caneca,+n%C2%BA.+963+-+Cerqueira+C%C3%A9sar+-+S%C3%A3o+Paulo+-+SP&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=46.543562,86.572266&amp;ie=UTF8&amp;hq=Rua+Frei+Caneca,+n%C2%BA.+963+-+Cerqueira+C%C3%A9sar+-+S%C3%A3o+Paulo+-+SP&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=17070050512905465875&amp;iwloc=A&amp;ll=-23.555569,-46.656017&amp;spn=0.009677,0.023947&amp;output=embed"></iframe><br /><small><a href="javascript:void(0)" onclick="$('#mapa').fadeOut();" style="color:#0000FF;text-align:left">FECHAR</a></small>
    </div>
    <div class="conteudo">
       <div id="banner">
            <img src="banners/banner1.png" alt="" />
       </div>
       <div id="content">
            <div class="homesuites">
                <div class="conhecasuites">
                    <img src="imagens/conhecasuites.png" />
                </div>
                <div class="imgsuites">
                    <img src="imagens/imgsuites.jpg" />
                </div>
                <div class="tarjasuites">
                 Moulin Rouge 
                    <a href="suiteMoulinRouge.aspx"><img src="imagens/acessesuites.jpg" /></a>
                </div>
                <div class="setasuites">
                    <a href="#"><div class="setaesqsuites"><img src="imagens/setasuites.jpg" /></div></a>
                    <a href="#"><div class="setadirsuites"><img src="imagens/setadirsuites.jpg" /></div></a>
                </div>
             </div>

            <div class="homereservas">
                <img src="imagens/bg_reservashome.png" />
                    <div class="homereservasemail">
                        <a href="mailto:luver@luverhotel.com.br">luver@luverhotel.com.br</a>
                    </div>
            </div>

            <div class="homelocalizacao">
                <div class="hometitlelocalizacao">
                    <img src="imagens/localizacao.png" />
                </div>
                <div class="imglocalizacaohome">
                    <img src="imagens/localizacaoimg.jpg" />
                </div>
                <div class="tarjalocalizacaohome">
                    <a href="javascript:void(0)" onclick="$('#mapa').fadeIn();"><img src="imagens/bt_aumentarmapa.jpg" /></a>
                </div>
            </div>

            <div class="homepromocoes">
                <div class="titlehomepromocoes">
                    <img src="imagens/promocoesHome.png" />
                </div>
                <img src="imagens/separa.png" alt="" />

                <div class="bannerhomepromocoes">
                    <div class="dtlbannerhomepromocoes"><a href="promocoes.aspx"><img src="imagens/bannerProm1.jpg" /></a></div>
                    <div class="dtlbannerhomepromocoes"><a href="promocoes.aspx"><img src="imagens/bannerProm2.jpg" /></a></div>
                    <div class="dtlbannerhomepromocoes"><a href="promocoes.aspx"><img src="imagens/bannerProm3.jpg" /></a></div>
                </div>
                <div class="setahomepromocoes">
                    <a href="#"><div class="setaesqpromocoes"><img src="imagens/setasuites.jpg" /></div></a>
                    <a href="#"><div class="setadirpromocoes"><img src="imagens/setadirsuites.jpg" /></div></a>
                </div>
                 <img src="imagens/separa.png" alt="" />
            </div>


             <div class="homepromocoes" id="links">
                <div class="titlehomepromocoes">
                    <img src="imagens/links.png" />
                </div>
                <img src="imagens/separa.png" alt="" />

                <div class="bannerhomepromocoes">
                    <div class="dtlbannerhomepromocoes"><a href="linkspicantes.aspx"><img src="imagens/link1.jpg" /></a></div>
                    <div class="dtlbannerhomepromocoes"><a href="links.aspx"><img src="imagens/link2.jpg" /></a></div>
                    <div class="dtlbannerhomepromocoes"><a href="preco.aspx"><img src="imagens/link3.jpg" /></a></div>
                </div>
                <div class="setahomepromocoes">
                    <a href="#"><div class="setaesqpromocoes"><img src="imagens/setasuites.jpg" /></div></a>
                    <a href="#"><div class="setadirpromocoes"><img src="imagens/setadirsuites.jpg" /></div></a>
                </div>
                 <img src="imagens/separa.png" alt="" />
            </div>



            
            </div>

          


    </div>

    <uc3:usrRodape ID="usrRodape1" runat="server" />
    </div>
    </form>
</body>
</html>
