﻿<%@ Page Title="Festival de Picanha | Luver Hotel" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="festival.aspx.cs" Inherits="festival" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="conteudointernas">
        <div class="alinhaconteudointernas">
        <div class="titleinternas"><img src="imagens/title_festival.png" /></div>
        <div class="titleinternasSegundo"><img src="imagens/title_festival2.png" /></div>
            <div class="internas">
            <div class="festivalConfira">
                <div class="festivalConfiraFoto">
                    <img src="imagens/festiva01.jpg" />
                </div> 
                <div class="festivalConfiraDesc">
                 Festival de picanha, grátis uma garrafa de vinho tinto.<br /><br />
                    <a href="#"><img src="imagens/btnMaisdetalhes.jpg" /></a>
                </div>
                <div class="festivalBarra"><img src="imagens/barraFestival.jpg" /></div>
            </div>

            <div class="festivalConfira">
                <div class="festivalConfiraFoto">
                    <img src="imagens/festiva01.jpg" />
                </div> 
                <div class="festivalConfiraDesc">
                 Festival de picanha, grátis uma garrafa de vinho tinto.<br /><br />
                    <a href="#"><img src="imagens/btnMaisdetalhes.jpg" /></a>
                </div>
                <div class="festivalBarra"><img src="imagens/barraFestival.jpg" /></div>
            </div>
            </div>
        </div>
    </div>
</asp:Content>

