﻿<%@ Page Title="Links da Picantes | Luver Hotel" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="linksPicantes4.aspx.cs" Inherits="linksPicantes4" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="conteudointernas">
        <div class="alinhaconteudointernas">
        <div class="titleinternas"><img src="imagens/title_linksPicantes.png" /></div>
            <div class="internas">
            <div class="linksMenu">
            <div class="linksMenuCasasNoturnas">
               <a href="linksPicantes.aspx">Acompanhantes</a>
            </div>
            <div class="linksMenuBaresRestaurantes">
                <a href="linksPicantes2.aspx">Contos Eróticos</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="linksPicantes3.aspx">Ensaios Sensuais</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="linksPicantes4.aspx">Fotos Eróticas</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="linksPicantes5.aspx">GLS</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="linksPicantes6.aspx">Parceria</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="linksPicantes7.aspx">Revistas</a>
            </div>
            </div>

            <div class="linksDet">
            <div class="linksDetTitle">
                <img src="imagens/titleShopping4.png" />
            </div>
            <div class="linksDetDesc">
            <div class="detalhesTitle">Amazon Sexy</div>
            <div class="detalhesLinks"></div>
            <div class="detalhesSiteLinks"><a href="#">http://www.amazonsexy.com.br</a></div>
            <div class="barraLinks">
            </div>
            </div>
            
            <div class="linksDetDesc">
            <div class="detalhesTitle">Arena do Sexo</div>
            <div class="detalhesLinks"></div>
            <div class="detalhesSiteLinks"><a href="#">http://www.arenadosexo.com</a></div>
            <div class="barraLinks">
            </div>
            </div>

            <div class="linksDetDesc">
            <div class="detalhesTitle">Pombaloca</div>
            <div class="detalhesLinks"></div>
            <div class="detalhesSiteLinks"><a href="#">http://www.pombaloca.com.br</a></div>
            <div class="barraLinks">
            </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />

            </div>
        </div>
    </div>
</asp:Content>
