﻿<%@ Page Title="Links da Região | Luver Hotel" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="links.aspx.cs" Inherits="links" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="conteudointernas">
        <div class="alinhaconteudointernas">
        <div class="titleinternas"><img src="imagens/title_links.png" /></div>
            <div class="internas">
            <div class="linksMenu">
            <div class="linksMenuCasasNoturnas">
               <a href="links.aspx">Casas Noturnas</a>
            </div>
            <div class="linksMenuBaresRestaurantes">
                <a href="links2.aspx">Bares e Restaurantes</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="links3.aspx">Pontos Turisticos</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="links4.aspx">Cinema</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="links5.aspx">Parceria</a>
            </div>
            <div class="linksMenuPontosTuristicos">
                <a href="links6.aspx">Shoppings</a>
            </div>
            </div>

            <div class="linksDet">
            <div class="linksDetTitle">
                <img src="imagens/titleParceria.jpg" />
            </div>
            <div class="linksDetDesc">
            <div class="detalhesTitle">Charms motel</div>
            <div class="detalhesLinks"></div>
            <div class="detalhesSiteLinks"><a href="#">http://www.charmsmotel.com.br</a></div>
            <div class="barraLinks">
            </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />

            </div>
        </div>
    </div>
</asp:Content>
