﻿<%@ Page Title="Promoções | Luver Hotel" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="promocoes.aspx.cs" Inherits="promocoes" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="conteudointernas">
        <div class="alinhaconteudointernas">
        <div class="titleinternas"><img src="imagens/title_promocoes.png" /></div>
            <div class="internas">

            <div class="promocoes">
                <div class="promocoesImagem">
                    <img src="imagens/promocao01.jpg" />
                </div>
                <div class="promocoesDesc">
                SUÍTE PARIS TODOS OS DIAS<br /><br /><br /><br />
                Período de 1 Hora R$ 50,00.<br />
                Condições de utilização:<br />
                Valido todos os dias.<br />
                </div>
                <div class="promocoesCadastro">
                    <div class="promocoesCadastroExp">
                    Faça seu cadastro clicando <a href="cadastro.aspx">aqui</a> e<br /> digite seu e-mail no campo abaixo e<br /> clique em gerar cupom.
                    </div>
                    <div class="promocoesSeuEmail">
                        <img src="imagens/trabalheEmail_.jpg" style="padding-bottom: 5px;" /><br/>
                        <asp:TextBox ID="txtEmailCupom1" runat="server" CssClass="cadastroEmail"></asp:TextBox>
                    </div>
                    <div class="promocaoCupom">
                        <asp:ImageButton ID="btnGerarCupom1" runat="server" 
                            ImageUrl="imagens/gerarCupom.jpg" onclick="btnGerarCupom1_Click" /><br />
                            <!--<a href="http://www.guiademoteis.com.br/sao-paulo/zona-sul/moteis/Luver-Hotel"><img src="imagens/cupomDigital.png" alt="" /></a>-->
                    </div>
                </div>
            </div>
            
            

            <div class="promocoes">
                <div class="promocoesImagem">
                    <img src="imagens/promocao02.jpg" />
                </div>
                <div class="promocoesDesc">
                SUÍTE PARIS TODOS OS DIAS<br /><br /><br /><br />
                Período de 2 Horas R$ 60,00.<br />
                Condições de utilização:<br />
                Segunda a Quinta das 07:00 até as 15:00<br />
                </div>
                <div class="promocoesCadastro">
                    <div class="promocoesCadastroExp">
                    Faça seu cadastro clicando <a href="cadastro.aspx">aqui</a> e<br /> digite seu e-mail no campo abaixo e<br /> clique em gerar cupom.
                    </div>
                    <div class="promocoesSeuEmail">
                        <img src="imagens/trabalheEmail_.jpg" style="padding-bottom: 5px;" /><br/>
                        <asp:TextBox ID="txtEmailCupom2" runat="server" CssClass="cadastroEmail"></asp:TextBox>
                    </div>
                    <div class="promocaoCupom">
                        <asp:ImageButton ID="btnGerarCupom2" runat="server" 
                            ImageUrl="imagens/gerarCupom.jpg" onclick="btnGerarCupom2_Click" /><br />
<!--                            <a href="http://www.guiademoteis.com.br/sao-paulo/zona-sul/moteis/Luver-Hotel"><img src="imagens/cupomDigital.png" alt="" /></a>
-->                    </div>
                </div>
            </div>

            <div class="promocoes">
                <div class="promocoesImagem">
                    <img src="imagens/promocao03.jpg" />
                </div>
                <div class="promocoesDesc">
                Champagne Cortesia para <br />Aniversariantes<br /><br /><br /><br />
                Para suítes Lamour, Louvre,<br /> Lemolin e Molin Rouge<br />
                </div>
                <div class="promocoesCadastro">
                    <div class="promocoesCadastroExp">
                    Faça seu cadastro clicando <a href="cadastro.aspx">aqui</a> e<br /> digite seu e-mail no campo abaixo e<br /> clique em gerar cupom.
                    </div>
                    <div class="promocoesSeuEmail">
                        <img src="imagens/trabalheEmail_.jpg" style="padding-bottom: 5px;" /><br/>
                        <asp:TextBox ID="txtEmailCupom3" runat="server" CssClass="cadastroEmail"></asp:TextBox>
                    </div>
                    <div class="promocaoCupom">
                        <asp:ImageButton ID="btnGerarCupom3" runat="server" 
                            ImageUrl="imagens/gerarCupom.jpg" onclick="btnGerarCupom3_Click" /><br />
<!--                            <a href="http://www.guiademoteis.com.br/sao-paulo/zona-sul/moteis/Luver-Hotel"><img src="imagens/cupomDigital.png" alt="" /></a>
-->                    </div>
                </div>
            </div>

           
            

            </div>
        </div>
    </div>
</asp:Content>

