﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="site.master.cs" Inherits="site" %>

<%@ Register src="usrTopo.ascx" tagname="usrTopo" tagprefix="uc1" %>

<%@ Register src="usrMenu.ascx" tagname="usrMenu" tagprefix="uc2" %>

<%@ Register src="usrRodape.ascx" tagname="usrRodape" tagprefix="uc3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Luver Hotel - Reservas (11) 3262-3375</title>
    <link href="css/estilo.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.js" type="text/javascript"></script>
    <link href="js/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.lightbox-0.5.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fotos a').lightBox();
        })
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-90897405-1', 'auto');
        ga('send', 'pageview');
    </script>
    
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="container">
    <uc1:usrTopo ID="usrTopo1" runat="server" />
    <uc2:usrMenu ID="usrMenu1" runat="server" />
    <div id="mapa">
        <iframe width="1000" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Frei+Caneca,+n%C2%BA.+963+-+Cerqueira+C%C3%A9sar+-+S%C3%A3o+Paulo+-+SP&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=46.543562,86.572266&amp;ie=UTF8&amp;hq=Rua+Frei+Caneca,+n%C2%BA.+963+-+Cerqueira+C%C3%A9sar+-+S%C3%A3o+Paulo+-+SP&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=17070050512905465875&amp;iwloc=A&amp;ll=-23.555569,-46.656017&amp;spn=0.009677,0.023947&amp;output=embed"></iframe><br /><small><a href="javascript:void(0)" onclick="$('#mapa').fadeOut();" style="color:#0000FF;text-align:left">FECHAR</a></small>
    </div>
    <div style="display:none">
        teste
    </div>
     
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    
    <uc3:usrRodape ID="usrRodape1" runat="server" />
    </div>
    </form>
</body>
</html>
