﻿<%@ Page Title="Suítes | Luver Hotel" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="suites.aspx.cs" Inherits="suites" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="conteudointernas" >
        <div class="alinhaconteudointernas">
        <div class="titleinternas"><img src="imagens/title_suites.png" /></div>
        
            <div class="internas suites" style="overflow:hidden; padding-bottom:40px">
                <div class="suitesParis">
                    <div class="suitesTitle">PARIS</div>
                    <div class="suitesImagem"><img src="imagens/suite01.jpg" /></div>
                    <div class="suitesBtDetalhes"><a href="suiteParis.aspx"><img src="imagens/btnMaisdetalhes.jpg" /></a></div>
                </div>
                <div class="suitesPigalle">
                    <div class="suitesTitle">PIGALLE</div>
                    <div class="suitesImagem"><img src="imagens/suite02.jpg" /></div>
                    <div class="suitesBtDetalhes"><a href="suitePigalle.aspx"><img src="imagens/btnMaisdetalhes.jpg" /></a></div>
                </div>
                <div class="suitesLamour">
                    <div class="suitesTitle">LAMOUR</div>
                    <div class="suitesImagem"><img src="imagens/suite03.jpg" /></div>
                    <div class="suitesBtDetalhes"><a href="suiteLamour.aspx"><img src="imagens/btnMaisdetalhes.jpg" /></a></div>
                </div>
                <div class="suitesParis">
                    <div class="suitesTitle">LOUVRE</div>
                    <div class="suitesImagem"><img src="imagens/suite04.jpg" /></div>
                    <div class="suitesBtDetalhes"><a href="suiteLouvre.aspx"><img src="imagens/btnMaisdetalhes.jpg" /></a></div>
                </div>
                <div class="suitesPigalle">
                    <div class="suitesTitle">LEMOLIN</div>
                    <div class="suitesImagem"><img src="imagens/suite05.jpg" /></div>
                    <div class="suitesBtDetalhes"><a href="suiteLemolin.aspx"><img src="imagens/btnMaisdetalhes.jpg" /></a></div>
                </div>
                <div class="suitesLamour">
                    <div class="suitesTitle">ROUGE</div>
                    <div class="suitesImagem"><img src="imagens/suite06.jpg" /></div>
                    <div class="suitesBtDetalhes"><a href="suiteMoulinRouge.aspx"><img src="imagens/btnMaisdetalhes.jpg" /></a></div>
                </div>
                
            </div>
        </div>
    </div>
</asp:Content>

