﻿<%@ Page Title="Suite Pigalle | Luver Hotel" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="suiteParis.aspx.cs" Inherits="suitesDetalhes" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script src="includes/funcoes.js" type="text/javascript"></script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="conteudointernas">
        <div class="alinhaconteudointernas">
        <div class="titleinternas"><img src="imagens/title_suites.png" /></div>
        <div class="titleinternasSegundo"><img src="imagens/title_suites2.png" /></div>
            <div class="internas">
                <div class="suitesDet">
                <div class="suitesDetImg"><img src="imagens/pigalle.jpg" /></div>
                <div class="suitesDetTitle"><img src="imagens/PigalleTitle.jpg" /></div>
                <div class="suitesDetDesc">TV de 42’(plasma), TV a cabo (net), de 2 á 4 de canais eróticos (para todos os gostos), banco erótico ou CD, rádio FM, internet (wi-fi).</div>
                <div class="suitesDetTour"><a href="#" onClick="javascript: onClick=abrePopUp('tour/Pigalle_204_Suite_2.ipx.html','Fotos','scrollbars=no,width=320, height=240'); return false;"><img src="imagens/suitesTour.jpg" /></a></div>
                <div class="suitesDetCurtir"><iframe src="//www.facebook.com/plugins/like.php?href=http://www.luverhotel.com.br/suitePigalle.aspx&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=184976601578822" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></div>
                <div class="suitesDetReservas"><img src="imagens/suitesReserva.jpg" /></div>
                </div>

                <div class="suitesDetFotos">
                    <div class="suitesDetFotosTitle"><img src="imagens/titleFotos.jpg" /></div>
                    <div class="barrasuitesDetFotos"><img src="imagens/barraFotos.jpg" /></div>

                    <div class="fotos">
                          <span class="imgfotos"><a href="fotosSuites/pigalle1.jpg" rel="lightbox[fotosSuites]"><img src="fotosSuites/pigalle1mini.jpg" /></a></span>
                          <span class="imgfotos"><a href="fotosSuites/pigalle2.jpg" rel="lightbox[fotosSuites]"><img src="fotosSuites/pigalle2mini.jpg" /></a></span>
                          <span class="imgfotos"><a href="fotosSuites/pigalle3.jpg" rel="lightbox[fotosSuites]"><img src="fotosSuites/pigalle3mini.jpg" /></a></span>
                          <span class="imgfotos"><a href="fotosSuites/pigalle4.jpg" rel="lightbox[fotosSuites]"><img src="fotosSuites/pigalle4mini.jpg" /></a></span>
                     </div>

                     <div class="barrasuitesDetFotos"><img src="imagens/barraFotos.jpg" /></div>

                     <div class="suitesDetPrecos">
                        <div class="suitesDetPernoite">
                            <div class="suitesDetPernoiteTitle"><img src="imagens/titlePernoite.jpg" /></div>
                            <div class="suitesDetPernoiteDesc">
                            Domingo a Quinta -  a partir das 20:00</br> 
                            Sexta e Sábado - a partir das 5:00 da manhã </br>
                            </div>
                        </div>
                        <div class="suitesDetValor">
                            <div class="suitesDetPrecosTitle">
                                <a href="preco.aspx">
                                    <img src="imagens/titlePrecos.jpg" />
                                    <br />Clique Aqui
                                </a>
                            </div>
                            <div class="suitesDetPrecosDesc">
       
                            </div>
                        </div>
                        <div class="suitesDetPeriodo">
                            <div class="suitesDetPeriodoTitle"><img src="imagens/titlePeriodo.jpg" /></div>
                            <div class="suitesDetPeriodoDesc">
                            De Domingo a Quinta - 3 horas</br> 
                            Sexta e Sábado -  a partir das 00:00 até as 6:00 da manhã 2 horas</br> 
                            </div>
                        </div>
                     </div>
                </div>
                
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</asp:Content>

