﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="usrMenu.ascx.cs" Inherits="usrMenu" %>
<div class="menu">
       <div class="alinhamenu">
            <div class="logo">
                <a href="default.aspx"><img src="imagens/logo.png" /></a>
            </div>
            <div class="menuesc">
                <div class="menuescdet"><a href="funcionamento.aspx" id="funcionamento">Funcionamento</a></div>
                <div class="menuescdet"><a href="suites.aspx" id="suites">Suítes</a></div>
                <div class="menuescdet"><a href="preco.aspx" id="precos">Preços</a></div>
                <div class="menuescdet"><a href="promocoes.aspx" id="promocoes">Promoções</a></div>
                <div class="menuescdet"><a href="parceiros.aspx" id="parceiros">Parceiros</a></div>
            </div>
        </div>
</div>