﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="usrTopo.ascx.cs" Inherits="usrTopo" %>
<div class="topo">
        <div class="alinhatopo">
            <div class="menutopo">
                <div class="menutopoesc"><a href="default.aspx">Home</a></div>
                <div class="menutopoesc"><a href="trabalhe.aspx">Trabalhe Conosco</a></div>
                <div class="menutopoesc"><a href="cadastro.aspx">Cadastre-se</a></div>
                <div class="menutopoesc"><a href="contato.aspx">Localização/Contato</a></div>
            </div>
        </div>
</div>