﻿body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tahoma13-000000 {
	font-family: tahoma;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.tahoma11-000000 {
	font-family: tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.tahoma11-000000:hover {
	color: #659764;
}
.tahoma9-000000-Bold {
	font-family: tahoma;
	font-size: 9px;
	color: #013300;
	font-weight: bold;
	text-decoration: none;
}
.tahoma12-000000-Bold {
	font-family: tahoma;
	font-size: 12px;
    color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
}
.tahoma11-925E99 {
	font-family: tahoma;
	font-size: 11px;
	color: #013300;
	text-decoration: none;
}
.tahoma11-925E99:hover {
	text-decoration: underline;
}
.tahoma11-FFFFFF {
	font-family: tahoma;
	font-size: 11px;
	color: #FFFFFF;
}



.frmCadastro {
	font-family: tahoma;
	font-size: 11px;
	color: #013300;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-left: 5px;
	height: 17px;
}
.frmIndique {
	font-family: tahoma;
	font-size: 9px;
	color: #013300;
	font-weight: bold;
	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-left: 5px;
	height: 17px;
}
.tahoma-11-CC0000 {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
}
